#board {
    margin-top: 18px;
    line-height: 1;
    text-align: center;
    font-size: 12px;
    
    /* テキストを選択不可 */
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}